<meta property="og:type" content="business.business">
<meta property="og:title" content="{{ if url === homepage }}{{ site_name }}{{ else }}{{ title }}{{ /if }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:image" content="{{ splash_image }}">
<meta property="business:contact_data:locality" content="Santa Ana">
<meta property="business:contact_data:region" content="CA">
<meta property="business:contact_data:postal_code" content="92705">
<meta property="business:contact_data:country_name" content="United States">
<meta name="twitter:card" content="app">
<meta name="twitter:site" content="@ceibaweb">
<meta name="twitter:title" content="{{ if url === homepage }}{{ site_name }}{{ else }}{{ title }}{{ /if }}">
<meta name="twitter:description" content="{{ meta_description }}">