<section class="min-h-screen md:min-h-0 md:h-full">
    <div class="summary-bar h-full md:h-64 w-full flex flex-col md:flex-row items-stretch">
        {{ global:homepage_features scope="feature"}}
            {{ partial:home/feature-panel }}
        {{ /global:homepage_features}}
        <div class="flex-grow md:flex-1 py-6 md:py-0 md:text-sm lg:text-base flex flex-col justify-center md:px-8 px-6 bg-orange shadow-md font-bold font-mono antialiased text-white">
            <p class="pb-6">We work with commercial and philanthropic partners to build custom web-based technology.</p>
            <p>We also publish content to augment and contextualize the role of developers in a global society.</p>
        </div>
    </div>
</section>